<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Message">

	<!-- MESSAGE 테이블 값 + 닉네임 -->
	<!-- <resultMap type="Message" id="messageResultSet">
		<id property="msgId" column="MSG_ID" />
		<result property="recieveId" column="RECIEVE_ID" />
		<result property="sendId" column="SEND_ID" />
		<result property="nickname" column="NICKNAME" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="sendDate" column="SEND_DATE" />
		<result property="readDate" column="READ_DATE" />
		<result property="status" column="STATUS" />
		<result property="mLevel" column="M_LEVEL" />
		<result property="pDate" column="P_DATE" />
	</resultMap> -->

    <!-- 받은 메세지 수 조회용 쿼리문 -->
    <!-- <select id="selectReMsgListCount" resultType="_int">
        SELECT COUNT(*)
        FROM (SELECT *
		      FROM MESSAGE MS
		      JOIN MEMBER M
		      ON(MS.SEND_ID=M.M_ID)
		      WHERE MS.RECEIVE_ID = #{mId}
		      AND MS.STATUS = 'N')
    </select> -->
    
	<!-- 받은 메세지 리스트 조회용 쿼리문 -->
	<!-- <select id="selectReMsgList" parameterType="_int" resultMap="messageResultSet">
		SELECT *
		FROM MESSAGE MS
		JOIN MEMBER M
		ON(MS.SEND_ID=M.M_ID)
		WHERE MS.RECEIVE_ID = #{mId}
		AND MS.STATUS = 'N'
		ORDER BY MSG_ID
	</select> -->
	
	<!-- 메세지 상세 조회용 쿼리문 -->
	<!-- <select id="selectMsgOne" parameterType="_int" resultMap="messageResultSet">
		SELECT *
		FROM MESSAGE MS
		JOIN MEMBER M
		ON(MS.SEND_ID=M.M_ID)
		WHERE MS.MSG_ID = #{msgId}
	</select> -->
	
	<!-- 받은 메세지 읽었을 때 읽은 날짜 업데이트 쿼리문 -->
	<!-- <update id="updateReadDate" parameterType="_int">
		UPDATE MESSAGE
		SET READ_DATE = SYSDATE
		WHERE MSG_ID = #{msgId}
	</update> -->
	
	<!-- 받은 메세지 삭제 쿼리문 -->
	<!-- <update id="updateStatus" parameterType="_int">
		UPDATE MESSAGE
		SET STATUS = 'Y'
		WHERE MSG_ID = #{msgId} 
	</update> -->
    
    <!-- 보낸 메세지 개수 조회용 쿼리문 -->
    <!-- <select id="selectSeMsgListCount" resultType="_int">
        SELECT COUNT(*)
        FROM (SELECT *
		      FROM MESSAGE MS
		      JOIN MEMBER M
		      ON(MS.RECEIVE_ID=M.M_ID)
		      WHERE MS.SEND_ID = #{mId}
		      AND MS.STATUS = 'N')
    </select> -->
    
    <!-- 보낸 메세지 리스트 조회용 쿼리문  -->
	<!-- <select id="selectSeMsgList" parameterType="_int" resultMap="messageResultSet">
		SELECT *
		FROM MESSAGE MS
		JOIN MEMBER M
		ON(MS.RECEIVE_ID=M.M_ID)
		WHERE MS.SEND_ID = #{mId}
		AND MS.STATUS = 'N'
		ORDER BY MSG_ID
	</select> -->
	
	<!-- 메세지 발송(문의 발송, 문의 답변)용 쿼리문 -->
	<!-- <insert id="insertMsg" parameterType="Message">
        INSERT INTO MESSAGE
        VALUES (SEQ_MSG_ID.NEXTVAL, #{recieveId}, #{sendId}, #{title},
                #{content}, SYSDATE, NULL, 'N', #{mLevel}, NULL)
    </insert> -->
</mapper>