
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Product">
	<resultMap type="Product" id="productResultSet">
		<id property="cId" column="C_ID"/>
		<result property="companyName" column="C_NAME"/>
		<result property="companyPhone" column="C_PHONE"/>
		<result property="companyAddress" column="C_ADDRESS"/>
		<result property="mId" column="M_ID"/>
		<result property="term" column="CR_TERM"/>
		<result property="status" column="CR_STATUS"/>
	</resultMap>
   
	<!-- 상품 리스트 카운트 -->
	<select id="getProductListCount" resultType="_int" parameterType="_int">
		SELECT COUNT(*)
		FROM COMPANY
		WHERE M_ID = #{mId}
	</select>
	
	<!-- 상품 전체 조회 -->
	<select id="selectProductList" resultMap="productResultSet" parameterType="_int">
		SELECT C_ID, C_NAME, C_ADDRESS, C_PHONE, CR_TERM, CR_STATUS
		FROM COMPANY
		JOIN COM_REGIST USING(C_ID)
		WHERE CR_STATUS = 'Y'
		AND M_ID = #{mId}
		ORDER BY C_ID
	</select>
	
</mapper>