<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Question">
	<!-- 문의 내역 관리 -->
	<!-- 문의 내역 조회 테이블 값 -->
	<resultMap type="Question" id="questionResultSet">
		<id property="qRecordId" column="Q_RECORD_ID" />
		<result property="sendId" column="SEND_ID" />
		<result property="title" column="TITLE" />
		<result property="sendDate" column="SEND_DATE"/>
		<result property="content" column="CONTENT" />
		<result property="pDate" column="P_DATE" />
	</resultMap>

	<!-- 메세지 발송(문의 발송, 문의 답변)용 쿼리문 -->
	<!-- <insert id="insertMsg" parameterType="Message">
        INSERT INTO MESSAGE
        VALUES (SEQ_MSG_ID.NEXTVAL, #{recieveId}, #{sendId}, #{title},
                #{content}, SYSDATE, NULL, 'N', #{mLevel}, NULL)
    </insert> -->
    
    <!-- 문의 처리일 입력 쿼리문  -->
	<!-- <update id="updatePDate" parameterType="_int">
		UPDATE MESSAGE
		SET P_DATE = SYSDATE
		WHERE MSG_ID = #{msgId} 
	</update> -->
	
	<!-- 문의 리스트 카운트 -->
	<select id="getQuestionListCount" resultType="_int">
	    SELECT COUNT(*)
	    FROM ( SELECT Q_RECORD_ID, SEND_ID, TITLE, SEND_DATE, CONTENT, P_DATE
               FROM ( SELECT ROWNUM AS Q_RECORD_ID, SEND_ID, TITLE, SEND_DATE, CONTENT, P_DATE
                      FROM MESSAGE
                      WHERE M_LEVEL = 'Q' ))
	</select>
	
	<!-- 문의 리스트 -->
	<select id="selectQuestionList" resultMap="questionResultSet">
	    SELECT Q_RECORD_ID, SEND_ID, TITLE, SEND_DATE, CONTENT, P_DATE
        FROM ( SELECT ROWNUM AS Q_RECORD_ID, SEND_ID, TITLE, SEND_DATE, CONTENT, P_DATE
               FROM MESSAGE
               WHERE M_LEVEL = 'Q' )
        ORDER BY Q_RECORD_ID DESC
	</select>
	
	<!-- 문의일로 조회 페이징 -->
	<select id="getSearchDateQuestionListCount" resultType="_int">
	      SELECT COUNT(*)
	      FROM ( SELECT Q_RECORD_ID, SEND_ID, TITLE, SEND_DATE, CONTENT, P_DATE
                 FROM ( SELECT ROWNUM AS Q_RECORD_ID, SEND_ID, TITLE, SEND_DATE, CONTENT, P_DATE
                        FROM MESSAGE
                        WHERE M_LEVEL = 'Q' )
                 WHERE SEND_DATE BETWEEN TO_DATE(#{fromDate}) AND TO_DATE(#{toDate}))
	</select>
	
	<!-- 문의일로 조회 -->
	<select id="selectSearchDateQuestionList" resultMap="questionResultSet">
	      SELECT Q_RECORD_ID, SEND_ID, TITLE, SEND_DATE, CONTENT, P_DATE
          FROM ( SELECT ROWNUM AS Q_RECORD_ID, SEND_ID, TITLE, SEND_DATE, CONTENT, P_DATE
                 FROM MESSAGE
                 WHERE M_LEVEL = 'Q' )
          WHERE SEND_DATE BETWEEN TO_DATE(#{fromDate}) AND TO_DATE(#{toDate})
          ORDER BY Q_RECORD_ID DESC
    </select>
	
	<!-- 검색 페이징 -->
	<select id="getSearchWordQuestionListCount" resultType="_int">
		SELECT COUNT(*)
        FROM ( SELECT Q_RECORD_ID, SEND_ID, TITLE, SEND_DATE, CONTENT, P_DATE
               FROM ( SELECT ROWNUM AS Q_RECORD_ID, SEND_ID, TITLE, SEND_DATE, CONTENT, P_DATE
                      FROM MESSAGE
                      WHERE M_LEVEL = 'Q' )
               WHERE 1=1
               <choose>
			     <when test="qRecordId != -99">
				     AND Q_RECORD_ID = #{qRecordId}
			     </when>
			     <when test="sendId != -99">
				     AND SEND_ID = #{sendId}
			     </when>
			     <otherwise>
			         AND P_DATE IS NULL
			     </otherwise>
		       </choose>)
	</select>
	
	<!-- 검색 조회 -->
	<select id="selectSearchWordQuestionList" resultMap="questionResultSet">
		SELECT Q_RECORD_ID, SEND_ID, TITLE, SEND_DATE, CONTENT, P_DATE
        FROM ( SELECT ROWNUM AS Q_RECORD_ID, SEND_ID, TITLE, SEND_DATE, CONTENT, P_DATE
               FROM MESSAGE
               WHERE M_LEVEL = 'Q' )
        WHERE 1=1
         <choose>
			<when test="qRecordId != -99">
				AND Q_RECORD_ID = #{qRecordId}
			</when>
			<when test="sendId != -99">
				AND SEND_ID = #{sendId}
			</when>
			<otherwise>
			    AND P_DATE IS NULL
			</otherwise>
		</choose>
        ORDER BY Q_RECORD_ID DESC
	</select> 
	
	<!-- 처리건만 조회 페이징 -->
	    <!-- SELECT COUNT(*)
        FROM (SELECT *
              FROM MESSAGE MS
              JOIN MEMBER M
              ON(MS.SEND_ID=M.M_ID)
              WHERE MS.P_DATE IS NOT NULL
              AND MS.RECEIVE_ID = 0
              AND MS.STATUS = 'N') -->
	<!-- 처리건만 조회 -->
	    <!-- SELECT *
        FROM MESSAGE MS
        JOIN MEMBER M
        ON(MS.SEND_ID=M.M_ID)
        WHERE MS.P_DATE IS NOT NULL
        AND MS.RECEIVE_ID = 0
        AND MS.STATUS = 'N' -->
	<!-- 미처리건만 조회 페이징 -->
	<!-- <select id="selectQueListNiCount" resultType="_int">
		SELECT COUNT(*)
        FROM (SELECT *
              FROM MESSAGE MS
              JOIN MEMBER M
              ON(MS.SEND_ID=M.M_ID)
              WHERE MS.P_DATE IS NULL
              AND MS.RECEIVE_ID = 0
              AND MS.STATUS = 'N')
	</select> -->
	
	<!-- 미처리건만 조회 -->
	<!-- <select id="selectQueListNi" resultMap="messageResultSet">
		SELECT *
        FROM MESSAGE MS
        JOIN MEMBER M
        ON(MS.SEND_ID=M.M_ID)
        WHERE MS.P_DATE IS NULL
        AND MS.RECEIVE_ID = 0
        AND MS.STATUS = 'N'
	</select> -->
	
	
</mapper>