
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Room">
	<resultMap type="Room" id="roomResultSet">
		<id property="rId" column="R_ID"/>
		<result property="roomType1" column="R_TYPE"/>
		<result property="roomCount1" column="R_COUNT"/>
		<result property="roomPrice1" column="R_PRICE"/>
		<result property="roomPeople1" column="R_PEOPLE"/>
		<result property="roomType2" column="R_TYPE"/>
		<result property="roomCount2" column="R_COUNT"/>
		<result property="roomPrice2" column="R_PRICE"/>
		<result property="roomPeople2" column="R_PEOPLE"/>
		<result property="roomType3" column="R_TYPE"/>
		<result property="roomCount3" column="R_COUNT"/>
		<result property="roomPrice3" column="R_PRICE"/>
		<result property="roomPeople3" column="R_PEOPLE"/>
		<result property="cId" column="C_ID"/>
	</resultMap>
   
	<!-- 객실1 등록 -->
	<insert id="insertRoom1" parameterType="Room">
		INSERT INTO ROOM (R_ID, R_TYPE, R_COUNT, R_PRICE, R_PEOPLE, C_ID) 
		VALUES (SEQ_R_ID.NEXTVAL, #{roomType1}, #{roomCount1}, #{roomPrice1}, #{roomPeople1}, #{cId})
	</insert>
	
	<!-- 객실2 등록 -->
	<insert id="insertRoom2" parameterType="Room">
		INSERT INTO ROOM (R_ID, R_TYPE, R_COUNT, R_PRICE, R_PEOPLE, C_ID) 
		VALUES (SEQ_R_ID.NEXTVAL, #{roomType2}, #{roomCount2}, #{roomPrice2}, #{roomPeople2}, #{cId})
	</insert>
	
	<!-- 객실3 등록 -->
	<insert id="insertRoom3" parameterType="Room">
		INSERT INTO ROOM (R_ID, R_TYPE, R_COUNT, R_PRICE, R_PEOPLE, C_ID) 
		VALUES (SEQ_R_ID.NEXTVAL, #{roomType3}, #{roomCount3}, #{roomPrice3}, #{roomPeople3}, #{cId})
	</insert>
	
</mapper>