<?xml version="1.0" encoding="UTF-8"?>
<!-- xml문서의 유효성 체크를 위해 필요한 부분 -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  
      <typeAliases>
          <typeAlias type="com.kh.hello.message.model.vo.Message" alias="Message"/>
          <typeAlias type="com.kh.hello.admin.model.vo.DatePick" alias="DatePick"/>
          <typeAlias type="com.kh.hello.admin.model.vo.Reservation" alias="Reservation"/>
      </typeAliases>
  
      <mappers>
          <mapper resource="mappers/message-mapper.xml"/>
          <mapper resource="mappers/admin-mapper.xml"/>
      </mappers>
  
  </configuration>