<?xml version="1.0" encoding="UTF-8"?>
<!-- xml문서의 유효성 체크를 위해 필요한 부분 -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.kh.hello.admin.model.vo.Blacklist"
			alias="Blacklist" />
	</typeAliases>

<environments default="firstDev">
		<environment id="firstDev">
			<!-- 트랙젝션 매니져는 JDBC 와 MANAGED 둘 중 하나를 선택할 수 있음 -->
			<!-- JDBC는 JDBC가 commit rollback을 직접 사용 가능하게 할 수 있는 옵션(수동commit) MANAGED는 
				트랙젝션에 대해 어떤 영향도 행사하지 않는다는 뜻(자동commit) -->
			<transactionManager type="JDBC" />
			<!-- 실제 DB접속에 관한 정보들을 넣는 태그 -->
			<!-- type속성은 ConnectionPool을 사용할건지에 대한 여부 -->
			<!-- POOLED 와 UNPOOLED를 사용 가능함 -->
			<dataSource type="POOLED">
				<property value="oracle.jdbc.driver.OracleDriver" name="driver" />
				<property value="jdbc:oracle:thin:@localhost:1521:xe" name="url" />
				<property value="hello" name="username" />
				<property value="hello" name="password" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="mappers/admin/blacklist-mapper.xml" />
	</mappers>


	
	
</configuration>