
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Company2">
   <resultMap type="Company2" id="company2ResultSet">
      <id property="cid" column="C_ID"/>
      <result property="cAddress" column="C_ADDRESS"/>
      <result property="contentid" column="C_ORIGINID"/>
      <result property="cName" column="C_NAME"/>
      <result property="cPhone" column="C_PHONE"/>
      <result property="mid" column="M_ID"/>
   </resultMap>
   
   <!-- 호텔 조회 -->
   <select id="selectList" resultMap="company2ResultSet">
   		SELECT *
   		FROM COMPANY
   		WHERE C_ADDRESS LIKE '%' || #{areaName} || '%'
   		<if test="sigunguName != null">
   			AND C_ADDRESS LIKE '%' || #{sigunguName} || '%'
   		</if>
   </select>
   
   <!-- 이름순 정렬 -->
   <select id="selectListOrderName" resultMap="company2ResultSet">
   	SELECT *
   	FROM COMPANY
   	WHERE C_ADDRESS LIKE '%' || #{areaName} || '%'
   	<if test="sigunguName != null">
   		AND C_ADDRESS LIKE '%' || #{sigunguName} || '%'
   	</if>
   	ORDER BY C_NAME
   </select>
   
   <!-- 가격대 1번 정렬 -->
   <select id="selectListOrderMoney1" resultMap="company2ResultSet">
   	SELECT DISTINCT C.C_ID, C_ADDRESS, C_ORIGINID, C_NAME, C_PHONE, M_ID
   	FROM COMPANY C
   	JOIN ROOM R ON (C.C_ID = R.C_ID)
   	WHERE R_PRICE BETWEEN 1000 AND 9900
   	AND C_ADDRESS LIKE '%' || #{areaName} || '%'
   	AND C_ADDRESS LIKE '%' || #{sigunguName} || '%'
   	ORDER BY C_NAME
   </select>
   
   <!-- 가격대 2번 정렬 -->
    <select id="selectListOrderMoney2" resultMap="company2ResultSet">
   	SELECT DISTINCT C.C_ID, C_ADDRESS, C_ORIGINID, C_NAME, C_PHONE, M_ID
   	FROM COMPANY C
   	JOIN ROOM R ON (C.C_ID = R.C_ID)
   	WHERE R_PRICE BETWEEN 10000 AND 99000
   	AND C_ADDRESS LIKE '%' || #{areaName} || '%'
   	AND C_ADDRESS LIKE '%' || #{sigunguName} || '%'
   	ORDER BY C_NAME
   </select>
   
   <!-- 가격대 3번 정렬 -->
   <select id="selectListOrderMoney3" resultMap="company2ResultSet">
   	SELECT DISTINCT C.C_ID, C_ADDRESS, C_ORIGINID, C_NAME, C_PHONE, M_ID
   	FROM COMPANY C
   	JOIN ROOM R ON (C.C_ID = R.C_ID)
   	WHERE R_PRICE > 100000
   	AND C_ADDRESS LIKE '%' || #{areaName} || '%'
   	AND C_ADDRESS LIKE '%' || #{sigunguName} || '%'
   	ORDER BY C_NAME
   </select>
   
   
   
	
</mapper>