<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Statistics">
   
     <!-- 국가별 가입자수 결과 셋 -->
     <resultMap type="NationalStatistics" id="nationalResultSet">
          <id property="national" column="NATIONAL"/>
          <result property="count" column="COUNT" />
     </resultMap>
     
     <!-- 관심분야 결과 셋 -->
     <resultMap type="InterestStatistics" id="interestResultSet">
          <id property="interest" column="INTEREST"/>
          <result property="count" column="COUNT" />
     </resultMap>
     
     <!-- 국가별 가입자수 -->
     <select id="selectNationalStatistics" resultMap="nationalResultSet">
         SELECT NATIONAL, COUNT(*) AS COUNT
         FROM MEMBER
         WHERE NATIONAL IS NOT NULL
         GROUP BY NATIONAL
     </select>
     
     <!-- 관심분야 통계 -->
     <select id="selectInterestStatistics" resultMap="interestResultSet">
         SELECT INTEREST, COUNT(*) AS COUNT
         FROM MEMBER
         WHERE INTEREST IS NOT NULL
         GROUP BY INTEREST
     </select>
</mapper>