<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">

     <!-- 리뷰 -->
     <resultMap type="Board" id="BoardResultSet">
          <id property="bid" column="BID"/>
          <result property="title" column="TITLE" />
          <result property="text" column="TEXT"/>
          <result property="board_type" column="BOARD_TYPE"/>
          <result property="regist_date" column="REGIST_DATE"/>
          <result property="status" column="STATUS"/>
          <result property="modify_date" column="MODIFY_DATE"/>
          <result property="grade" column="GRADE"/>
          <result property="likey" column="LIKEY"/>
          <result property="m_id" column="M_ID"/>
     </resultMap>
     
     <!-- 리뷰 인서트************2 -->
     <insert id="insertReviewBoard" parameterType="_int">
          INSERT INTO BOARD VALUES(SEQ_BID.NEXTVAL, '타이틀',
                                       '텍스트', 1, SYSDATE, 'Y', SYSDATE, null, 0, #{m_id})
     </insert>
     
     <!-- 리뷰 업데이트(실질적 글작성) -->
     <update id="updateReviewBoard" parameterType="Board">
         UPDATE BOARD
         SET TITLE = #{title}, TEXT = #{text}, REGIST_DATE = SYSDATE, GRADE = #{grade}, MODIFY_DATE = SYSDATE
         WHERE bid = (SELECT MAX(BID) FROM BOARD WHERE M_ID = #{m_id})
     </update>
     
     <select id = "selectReview" resultMap = "BoardResultSet">
     	SELECT * FROM BOARD WHERE BOARD_TYPE = 1
     </select>
     
     <!-- 리뷰 내역 수 조회용 -->
     <select id= "selectReviewCount" resultType = "_int">
     	SELECT COUNT(*)
     	FROM BOARD 
     	WHERE BOARD_TYPE = 1
     </select>
     
     <!-- 리뷰 삭제(취소시 미리 인서트해놓은 것) -->
     <!-- <select id="selectAttachment" resultMap="AttachmentResultSet">
         SELECT *
         FROM ATTACHMENT
         WHERE B_TYPE = 'R'
         AND IN_DATE BETWEEN TO_DATE(#{fromDate}) AND TO_DATE(#{toDate})
         ORDER BY B_RECORD_ID DESC
     </select> -->
     
</mapper>